{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>WordCount</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href={% static "img/favicon.png" %} rel="icon">
  <link href={% static "img/apple-touch-icon.png" %} rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
  <link href={% static "lib/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href={% static "lib/owlcarousel/assets/owl.carousel.min.css" %} rel="stylesheet">
  <link href={% static "lib/owlcarousel/assets/owl.theme.default.min.css" %} rel="stylesheet">
  <link href={% static "lib/font-awesome/css/font-awesome.min.css" %} rel="stylesheet">
  <link href={% static "lib/animate/animate.min.css" %} rel="stylesheet">
  <link href={% static "lib/modal-video/css/modal-video.min.css" %} rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href={% static "css/style.css" %} rel="stylesheet">

  <!-- =======================================================
    Theme Name: eStartup
    Theme URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto"><span>Word</span>Count</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about-us">Typing</a></li>
          <li><a href="#contact">File</a></li>
          <li><a href="#info">Info</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero" class="wow fadeIn">
    <div class="hero-container">
      <h1>Wordcount</h1>
      <h2>.txt 파일 업로드 &amp; 직접 입력</h2>
      <img src={% static "img/hero-img.png" %} alt="Hero Imgs">
      <a href="#about-us" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- #hero -->

  <!--==========================
    About Us Section
  ============================-->
  <section id="about-us" class="about-us padd-section wow fadeInUp">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-md-7 col-lg-5">
          <div class="about-content">

            <h2><span>WordCount</span></h2>
            <p>이 곳에 텍스트를 입력하세요</p>

            <form action="{%url 'result'%}">
              <textarea cols="40" rows="10" name="fulltext"></textarea>
              <br>
              <input type="submit" value="Count!">
            </form>

          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
    Contact Section
  ============================-->
  <section id="contact" class="padd-section wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">
        <h2>텍스트 파일 가져오기</h2>
        <p class="separator">가져올 .txt파일을 선택하세요</p>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">

        <div class="col-lg-5 col-md-8">
          <h2>Upload</h2>
            <form method='post' enctype="multipart/form-data" action="{%url 'result'%}">
              {% csrf_token %}
              <input type='file' name='document'>
              <button type='submit'>파일 업로드</button>
            </form>
        </div>
      </div>
    </div>
  </section><!-- #contact -->

  <!--==========================
    Footer
  ============================-->
  <footer id="info" class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="#">멋쟁이사자처럼 7기</a>
            <p>한국교통대학교 윤건</p>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>학과</h4>

            <ul class="list-unstyled">
              <li><a href="#">공과대학</a></li>
              <li><a href="#">컴퓨터정보기술공학부</a></li>
              <li><a href="#">소프트웨어학전공</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>과제에서 추가된 점</h4>

            <ul class="list-unstyled">
              <li><a href="#">부트스트랩</a></li>
              <li><a href="#">첨부파일을 Wordcount하기</a></li>
              <li><a href="#">일부 css 수정</a></li>
            </ul>

          </div>
        </div>

      </div>
    </div>

  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src={% static "lib/jquery/jquery.min.js" %}></script>
  <script src={% static "lib/jquery/jquery-migrate.min.js" %}></script>
  <script src={% static "lib/bootstrap/js/bootstrap.bundle.min.js" %}></script>
  <script src={% static "lib/superfish/hoverIntent.js" %}></script>
  <script src={% static "lib/superfish/superfish.min.js" %}></script>
  <script src={% static "lib/easing/easing.min.js" %}></script>
  <script src={% static "lib/modal-video/js/modal-video.js" %}></script>
  <script src={% static "lib/owlcarousel/owl.carousel.min.js" %}></script>
  <script src={% static "lib/wow/wow.min.js" %}></script>
  <!-- Contact Form JavaScript File -->
  <script src={% static "contactform/contactform.js" %}></script>

  <!-- Template Main Javascript File -->
  <script src={% static "js/main.js" %}></script>

</body>
</html>
